@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
h1 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  font-weight: 400;
  font-size: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-color: #d5d5d5;
  padding: 10px;
  align-items: center;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25em;
  min-height: 100px;
}
header img {
  width: 10%;
  position: absolute;
  left: 0;
}
header h1 {
  color: rgb(25, 0, 0);
  font-weight: 700;
  text-align: center;
  margin: 0;
  font-size: 2rem;
}
header h2 {
  color: rgb(0, 177, 0);
  font-weight: 700;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}
header h3 {
  font-weight: 700;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
header a {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: #d5d5d5;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  color: red;
  font-weight: 700;
}

section {
  min-height: 25em;
  display: flex;
  flex-wrap: wrap;
}
section article {
  flex: 1;
  min-width: calc(33.33% - 20px);
  margin: 0.5em 0.25em 0 0.25em;
  text-align: center;
  position: relative;
}
section article a {
  display: block;
  text-decoration: none;
  color: inherit;
}
section article img {
  width: 25%;
  position: absolute;
  left: 0;
}
section article h3,
section article p {
  width: 75%;
  position: absolute;
  right: 0;
}
section article h3 {
  padding-right: 1em;
  font-size: 1.2rem;
  margin-top: 10px;
}
section article p {
  padding: 1em 0.5em;
  font-size: 0.8rem;
  margin-top: 35px;
}
@media (max-width: 992px) {
  section article {
    min-width: calc(50% - 20px);
    min-height: 10em;
  }
}
@media (max-width: 768px) {
  section article {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 11em;
  }
  section article img {
    width: 10%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  section article h3 {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  section article p {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}
section .article-1 {
  background-color: rgba(201, 113, 201, 0.5);
}
section .article-2 {
  background-color: rgba(167, 93, 251, 0.5);
}
section .article-3 {
  background-color: rgba(108, 182, 247, 0.5);
}
section .article-4 {
  background-color: rgba(167, 51, 152, 0.5);
}
section .article-5 {
  background-color: rgba(152, 75, 141, 0.5);
}
section .article-6 {
  background-color: rgba(120, 200, 207, 0.5);
}
section .article-7 {
  background-color: rgba(156, 157, 4, 0.5);
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer div,
footer p {
  background-color: #d5d5d5;
  padding: 10px;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25em;
}
footer div img {
  width: 3em;
  padding: 0 10px;
}
footer p {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */