body {
  background-color: black;
  text-align: center;
}

.contenedor {
  padding: 1em;
  width: 50%;
  margin: auto;
  position: absolute;
  left: 50%;
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

table {
  margin: auto;
  padding: 1em;
}

tr, td, th {
  border: 1px solid green;
  padding: 1em;
}
