body{
    background-color: antiquewhite;
}
.game{
    background-color: #6610f2;
    height: 225px;
    width: 27.5%;
    cursor: pointer;
}

@media (min-width: 768px) {
    .result{
        background-color: rgb(221, 154, 154);
        position: fixed;
        right: 0px;
        height: 1000px;
    }
}
.btn {
    background-color: var(--bs-green);
    color: white;
    margin-top: -10%;
}

.rotate-center {
	animation: rotate-center 1.5s ease-in-out both;
	-webkit-animation: rotate-center 1.5s ease-in-out both;
}
@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
}
  }