body {
  display: flex;
  background-color: blanchedalmond;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: justify;
}
#contenedor {
  display: flexbox;
  border: 1px solid #32a852;
  padding: 0em 1em;
  margin: auto;
  position: absolute;
  left: 50%;
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
#tabla7,
#tabla8,
#tabla9, #bits {
  display: flex;
  margin-top: 1em;
}
p {
  margin: 1ex;
  padding: 1ex;
}
h1 {
  margin-bottom: 1ex;
}
