body {
  background-image: url("image/pexels-valiphotos-589840.jpg");
  color: aliceblue;
}

#contenedor {
  padding: 1em;
  width: 50%;
  margin: auto;
  position: absolute;
  left: 50%;
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

.grid{
  flex-wrap: wrap;
  display: flex;
}

.grid-interion{
  flex-basis: 50%;
}

.menu {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu-interior > a {
  width: 200px;
  background-color: aqua;
  margin: 1em 1em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.menu-interior > a {
  background-color: aquamarine;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-interior > a {
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
}



input,label,select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  text-align: center;
  text-transform: uppercase;
}

#volver {
  background-color: aqua;
  margin: 1em 1em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

#volver:hover {
  background-color: aquamarine;
  text-decoration: none;
  text-transform: uppercase;
}
#volver:visited {
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  padding: 1em;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  color: blue;
  background-color: blanchedalmond;
  text-transform: uppercase;
  left: 45%;
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

button:hover {
  background-color: blueviolet;
  color: aqua;
  font-size: larger;
}

table {
  margin: auto;
  margin-top: 25px;
  text-align: center;
  width: 40%;
  text-transform: uppercase;
}

td, th, tr {
  border: 2px solid white;
}

.log {
  margin-left: 5%;
}